

# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

### Tags ###
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
!TAGS/
tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out


*.tags


### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### Composer ###
composer.phar
composer.lock
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# # You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# # composer.lock


### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/


### Sass ###
.sass-cache
*.css.map


### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

tmp/*
!tmp/.gitkeep

log/*
!log/.gitkeep

public_html/files/*
!public_html/files/.gitkeep

public_html/assets/*
!public_html/assets/.gitkeep


# these are machine-based
settings.php
liquibase.properties
liquibase.properties.*
!liquibase.properties.example
cli/*
!cli/.gitkeep

